/* Reset de estilos */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden; /* Evita el scroll */
}

/* Estilos para el header */
header {
    background-color: #433528;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #dab284; /* Color al hacer hover */
}

/* Estilos para el main */
main {
    background-image: linear-gradient(to bottom, #433528, #664d38);
    min-height: calc(100vh - 70px); /* Altura del viewport menos la altura del header */
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Habilita scroll si el contenido excede el tamaño */
}

/* Estilos para la sección hero */
.hero {
    text-align: center;
    padding: 100px 20px;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.hero img {
    display: block;
    margin: 0 auto 20px; /* Centrar la imagen y añadir espacio hacia abajo */
    max-width: 20%; /* Ajusta el ancho máximo de la imagen al 80% del contenedor */
    height: auto;
}

.hero .btn {
    margin-top: 20px; /* Añadir margen hacia abajo al botón */
}

/* Estilos para el botón */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #dab284;
    color: #433528;
}
